alias reload!=". $HOME/.zshrc"

alias mv="mv -iv"
alias mkdir="mkdir -vp"
alias cp="cp -riv"

alias npms="npm start"

alias ls="ls --color=auto"
alias tree="tree -I 'node_modules|cache|test_*'"

alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

# Checkout primary branch
gcmfunc() {
	PRIMARYBRANCH=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
	git checkout $PRIMARYBRANCH
	# if [ `git rev-parse --verify master 2>/dev/null` ]; then
	# 	git checkout master
	# elif [ `git rev-parse --verify main 2>/dev/null` ]; then
	# 	git checkout main
	# else
	# 	echo "Neither master or main branches exist."
	# fi
}
alias gcm="gcmfunc"
alias gc="git checkout"
alias gpu="git pull"
alias gl="git log --all --decorate --oneline --graph"

alias grep="grep --color=auto --line-number --ignore-case --recursive --exclude-dir={\*git,dist\*}"

alias hosts="sudo vim /etc/hosts"

alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo 'Flushed'"

# Copy working directory to clipboard
pwdcpfunc() {
	pwd | pbcopy;
	echo "$(pbpaste) copied to clipboard";
}
alias pwdcp="pwdcpfunc"

alias ol="open https://localhost:3000"
alias oln="open http://localhost:3000"

alias osascriptdebug="AEDebug=1 AEDebugSends=1 AEDebugReceives=1 osascript"

alias code="open -a Visual\ Studio\ Code && code -r"

alias wpp="wppublish"

transfer() {
  tmpfile=$( mktemp -t transferXXX )
  curl --progress-bar --upload-file "$1" https://transfer.sh/$(basename $1) >> $tmpfile;
  cat $tmpfile | pbcopy;
	echo "$(pbpaste) copied to clipboard";
  rm -f $tmpfile;
}

function take() {
	mkdir $@ && cd ${@:$#}
}

zcalc() {
	zsh -c 'autoload zcalc && zcalc "$@"' zcalc "$@"
}
