alias reload!=". $HOME/.zshrc"

alias rm="rm -I"
alias cp="cp -r"

alias python=/usr/local/bin/python3
alias pip=/usr/local/bin/pip3

alias ls="ls --color=auto"

alias grep="grep --color=auto --line-number --ignore-case --recursive --exclude-dir={\*git,dist\*}"

alias hosts="sudo vim /etc/hosts"

alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;say flushed"

# Copy working directory to clipboard
pwdcpfunc() {
	pwd | pbcopy;
	echo "$(pbpaste) copied to clipboard";
}
alias pwdcp="pwdcpfunc"

alias idk="printf \"¯\_(ツ)_/¯\" | pbcopy && echo \"¯\_(ツ)_/¯ copied to clipboard\""

alias ol="open https://localhost:3000"
alias oln="open http://localhost:3000"

alias code="open -a Visual\ Studio\ Code && code -r"

alias wttr="curl wttr.in/\?2nFQ"
alias weather="wttr"

transfer() {
  tmpfile=$( mktemp -t transferXXX )
  curl --progress-bar --upload-file "$1" https://transfer.sh/$(basename $1) >> $tmpfile;
  cat $tmpfile | pbcopy;
	echo "$(pbpaste) copied to clipboard";
  rm -f $tmpfile;
}

function take() {
	mkdir $@ && cd ${@:$#}
}

zcalc() {
	zsh -c 'autoload zcalc && zcalc "$@"' zcalc "$@"
}
