alias reload=". $HOME/.zshrc"
alias reload!="reload"

alias nvm="echo 'Use fnm instead of nvm. See: https://github.com/Schniz/fnm/blob/master/docs/configuration.md'"

alias mv="mv -iv"
alias mkdir="mkdir -vp"
alias cp="cp -riv"

alias npms="npm start"

alias ls="ls --color=auto"
alias tree="tree -I 'node_modules|cache|test_*'"

alias gc="git checkout"
alias gcn="git checkout -b"
alias gcm="git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
alias gp="git pull"
alias gpu="git pull"
alias gl="git log --all --decorate --oneline --graph"

alias grep="grep --color=auto --line-number --ignore-case --recursive --exclude-dir={\*git,dist\*}"

alias hosts="sudo vim /etc/hosts"

alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo 'Flushed'"

alias osascriptdebug="AEDebug=1 AEDebugSends=1 AEDebugReceives=1 osascript"

alias code="open -a Visual\ Studio\ Code && code -r"

alias wpp="wppublish"
