[user]
  name = Robert Sefer
  email = rsefer@gmail.com
[alias]
  log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cn%Creset %Cblue(%cr)%Creset' --abbrev-commit --date=relative
[push]
  default = simple
  followTags = true
[status]
  showUntrackedFiles = all
[credential]
  helper = osxkeychain
[color]
  ui = true
[core]
  pager = delta
  excludesfile = ~/.gitignore_global
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = false
  navigate = true
	line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
