[user]
        name = Robert Sefer
        email = rsefer@gmail.com
[credential]
        helper = osxkeychain
[filter "hawser"]
        clean = git hawser clean %f
        smudge = git hawser smudge %f
        required = true
[color]
        ui = true
[filter "lfs"]
        clean = git lfs clean %f
        smudge = git lfs smudge %f
        required = true
[core]
        excludesfile = /Users/rsefer/.gitignore_global
