dots/.vscode/globalStorage
dots/.vscode/workspaceStorage
dots/.vscode/extensions
dots/.vscode/History
dots/.vscode/sync
dots/.vscode/argv.json
dots/.vim/bundle
dots/.hammerspoon
dots/.DS_Store
mac-scripts/ipaddress.txt
setup/installs/homebrew/Brewfile.lock.json
