[user]
  name = Robert Sefer
  email = rsefer@gmail.com
[alias]
  log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cn%Creset %Cblue(%cr)%Creset' --abbrev-commit --date=relative
[commit]
  gpgSign = true
[push]
  default = simple
  followTags = true
[status]
  showUntrackedFules = all
[credential]
  helper = osxkeychain
[color]
  ui = true
[core]
  excludesfile = /Users/rsefer/.gitignore_global
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
