dots/.obsidian/workspace
dots/.obsidian/workspace.json
dots/.vscode/*
!dots/.vscode/keybindings.json
!dots/.vscode/settings.json
!dots/.vscode/snippets
!dots/.vscode/globalStorage/alefragnani.project-manager/projects.json
dots/.vim/bundle
dots/.hammerspoon
dots/.DS_Store
dots/.composer/auth.json
dots/.composer/cache
dots/.composer/.htaccess
dots/.composer/vendor
dots/.config/karabiner/*
!dots/.config/karabiner/karabiner.json
mac-scripts/ipaddress.txt
setup/installs/homebrew/Brewfile.lock.json
