"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
    ]
    projectHome: "/Users/rsefer/sites/clients"
    reopenProjectMenuCount: 5
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 12
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "19050232-a4d3-4c46-b0e1-4ee29a24b70e"
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
