"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "atom-beautify":
    general:
      _analyticsUserId: "0ee07048-a8c6-42a3-abbf-65046570ca18"
  "autocomplete-plus":
    autoActivationDelay: 500
  "color-picker":
    automaticReplace: true
    preferredFormat: "HEX"
    randomColor: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
      "dart"
      "atom-toolbar"
    ]
    followSymlinks: false
    projectHome: "/Users/rsefer/sites/clients"
    reopenProjectMenuCount: 5
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 13
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "19050232-a4d3-4c46-b0e1-4ee29a24b70e"
  "linter-ui-default":
    panelHeight: 69
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
