html {
  font-size: 10px;
}

.list-tree.has-collapsable-children {

  .list-nested-item {

    & > .list-tree li,
    & > .list-group > li {
      padding-left: 8px;
    }

  }

}

atom-workspace,
atom-text-editor {
  font-family: "SF Mono"; // "San Francisco Display"
}
