.cm-scroller {
	padding-top: 0px !important;
}

.workspace .markdown-source-view .inline-title {
	transition: all 150ms ease-in-out;
}

@media (min-width: 701px) {

	.markdown-source-view .inline-title {
		display: none;
	}

	.markdown-source-view .cm-contentContainer {
		padding-top: 12px;
	}

}

@media (max-width: 700px) {

	.workspace-tab-header-container,
	.view-header .view-actions,
	.status-bar-item.plugin-editor-status,
	.status-bar-item.plugin-better-word-count,
	.workspace-ribbon.side-dock-ribbon {
		display: none !important;
	}

	.workspace:not(.is-left-sidedock-open) .markdown-source-view .inline-title {
		margin-left: 90px !important;
		padding-top: 12px;
	}

}
